.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 8px;
  border-radius: 5px;
  color: #333;
  background-color: #fff;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #eee;
}