<div class="table-content">
    <table>
        <thead>
            <tr class="table-head">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Phone Number</th>
                <th>E-mail</th>
                <th>Bank Account Number</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody *ngFor="let client of clients" >
            <tr class="client-info">
                <td>{{client.firstName}}</td>
                <!-- <input type="text" name="" id="" value="{{client.firstName}}" readonly> -->
                <td>{{client.lastName}}</td>
                <td>{{client.dateOfBirth}}</td>
                <td>{{client.phoneNumber}}</td>
                <td>{{client.email}}</td>
                <td>{{client.banckAccountNumber}}</td>
                <td>
                    <button >
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </button>
                </td>
                <td class="last">
                    <button (click)="onDelete(client.email)">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </button>
                </td>
            </tr>
            <tr class="space"></tr>
        </tbody>
    </table>
</div>