table {
    border-top: 1px solid var(--gray);
    width: 100%;
}

thead th {
    padding: 0.9rem;
}
td {
    padding: var(--lateralmargin) 1rem;
}

button {
    background-color: #FFFFFF;
    border: none;
}
.table-content{
    margin-right: var(--lateralmargin);
    overflow-x:auto;
}
.table-head {
    color: var(--gray);
    font-size: 0.8rem;
    text-align: left;
}

.client-info {
    background-color: #FFFFFF;
    margin: 0.5rem 0;
}
.last {
    border-radius: 0 8px 8px 0 ;
}
.material-symbols-outlined {
    color: var(--blue);
}
.material-symbols-outlined.delete {
    color: var(--red);
}
.material-symbols-outlined:hover,
.material-symbols-outlined:active {
    opacity: 0.6;
    transform: scale(1.2);
}
.space {
    height: 0.5rem;
}

@media screen and (max-width: 968px) {
    .table-head,
    .client-info,
    .material-symbols-outlined {
        font-size: 0.7rem;
    }

    thead th {
        padding: 0.6rem;
    }
    td {
        padding: var(--lateralmargin) 0.7rem;
    }
}