table {
    border-top: 1px solid var(--gray);
    width: 100%;
}

thead th {
    padding: 1rem 0.2rem;
}
td {
    padding: var(--lateralmargin) 0;
}

button {
    background-color: #FFFFFF;
    border: none;
}
.table-content{
    margin-right: var(--lateralmargin);
    overflow-x:auto;
}
.table-head {
    color: var(--gray);
    font-size: 0.8rem;
}

.client-info {
    background-color: #FFFFFF;
    margin: 0.5rem 0;
}
.last {
    border-radius: 0 8px 8px 0 ;
}
.material-symbols-outlined {
    color: var(--blue);
}
.space {
    height: 0.5rem;
}