


<table>


  <thead>
  <tr>
    <th>name</th>
    <th>lname</th>
    <th>dateBirtsh</th>
    <th>phone</th>
    <th>email</th>
    <th>bank</th>
    <th>action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customerList">
    <td>{{customer._firstname}}</td>
    <td>{{customer._lastName}}</td>
    <td>{{customer._dateOfBirth}}</td>
    <td>{{customer._phoneNumber}}</td>
    <td>{{customer._email}}</td>
    <td>{{customer._bankAccountNumber}}</td>
    <td>
      <div>

        <button (click)="update(customer._id)">update</button>
        <button (click)="delete(customer._id)">remove</button>

      </div>
    </td>
  </tr>

  </tbody>

</table>

<button (click)="add()">add new Customer</button>
