<header>
    <div class="nav">
        <h1>BankBase CRUD</h1>
        <button 
        class="add-client"
        (click)="onClick()">
        Add New Client
        </button>
    </div>
    <div class="form">
        <form class="add-form" (ngSubmit)="addClient()">
            <div class="form-double">
                <div class="form-str">
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" id="firstName" placeholder="First Name" [(ngModel)]="firstName"/>
                </div>
                <div class="form-str">    
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" id="lastName" placeholder="Last Name" [(ngModel)]="lastName"/>
                </div>
            </div>
            <div class="form-double">
                <div class="form-str">
                    <label for="dob">Date of Birth</label>
                    <input type="date" name="dob" id="dob" [(ngModel)]="dob"/>
                </div>
                <div class="form-str">    
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Client Phone Number" [(ngModel)]="phoneNumber"/>
                </div>
            </div>
            <div class="form-str">
                <label for="email">E-mail</label>
                <input type="text" name="email" id="email" placeholder="Client E-mail" [(ngModel)]="email">
            </div>
            <div class="form-str">
                <label for="iban">Account number</label>
                <input type="text" name="iban" id="iban" placeholder="Client Account Number" [(ngModel)]="bankAccount">
            </div>
            <input type="submit" value="Save" class="save-btn"/>
        </form>
    </div>
</header>
