<header>
    <div class="nav">
        <h1>BankBase CRUD</h1>
        <button 
            class="add-client"
            [ngStyle]="{'background-color': color}"
            (click)="toggleAddClient()">
            {{btnText}}
        </button>
    </div>
    <div class="form" *ngIf="showAddClient" >
        <div *ngIf="appState == 'default'">
            <form class="add-form" (ngSubmit)="addClient(clientForm)"  [formGroup]="clientForm" >
                <div class="form-double">
                    <div class="form-str">
                        <label for="firstName">First Name</label>
                        <input 
                            formControlName="firstName"
                            type="text" 
                            name="firstName" 
                            id="firstName" 
                            placeholder="First Name" 
                            />
                    </div>
                    <div class="form-str">    
                        <label for="lastName">Last Name</label>
                        <input 
                            formControlName="lastName" 
                            type="text" 
                            name="lastName" 
                            id="lastName" 
                            placeholder="Last Name" 
                            />
                        </div>
                    </div>
                    <div class="form-double">
                        <div class="form-str">
                            <label for="dob">Date of Birth</label>
                            <input formControlName="dateOfBirth"  type="date" name="dob" id="dob"/>
                    </div>
                    <div class="form-str">    
                        <label for="phoneNumber">Phone Number</label>
                        <input 
                            formControlName="phoneNumber" 
                            type="text" 
                            name="phoneNumber" 
                            id="phoneNumber" 
                            placeholder="+351917625391"
                            />
                    </div>
                </div>
                <div class="form-str">
                    <label for="email">E-mail</label>
                    <input 
                        formControlName="email" 
                        type="text" 
                        name="email" 
                        id="email" 
                        placeholder="Client E-mail"
                        />
                </div>
                <div class="form-str">
                    <label for="iban">Account number</label>
                    <input 
                        formControlName="bankAccountNumber" 
                        type="text" 
                        name="iban" 
                        id="iban" 
                        placeholder="Client Account Number (9 digits)" 
                        />
                </div>
                <input type="submit" value="Save" class="save-btn"/>
            </form>
        </div>


        <div *ngIf="appState == 'edit'">
                <form class="add-form" (ngSubmit)="updateClient(clientForm)"  [formGroup]="clientForm" >
                    <div class="form-double">
                        <div class="form-str">
                            <label for="firstName">First Name</label>
                            <input 
                                formControlName="firstName"
                                type="text" 
                                name="firstName" 
                                id="firstName" 
                                placeholder="First Name" 
                                />
                        </div>
                        <div class="form-str">    
                            <label for="lastName">Last Name</label>
                            <input 
                                formControlName="lastName" 
                                type="text" 
                                name="lastName" 
                                id="lastName" 
                                placeholder="Last Name" 
                                />
                            </div>
                        </div>
                        <div class="form-double">
                            <div class="form-str">
                                <label for="dob">Date of Birth</label>
                                <input 
                                    formControlName="dateOfBirth"  
                                    type="date" 
                                    name="dob" 
                                    id="dob"
                                    />
                        </div>
                        <div class="form-str">    
                            <label for="phoneNumber">Phone Number</label>
                            <input 
                                formControlName="phoneNumber" 
                                type="text" 
                                name="phoneNumber" 
                                id="phoneNumber" 
                                placeholder="Country code + Phone"
                                />
                        </div>
                    </div>
                    <div class="form-str">
                        <label for="email">E-mail</label>
                        <input 
                            formControlName="email" 
                            type="text" 
                            name="email" 
                            id="email" 
                            placeholder="Client E-mail"
                            />
                    </div>
                    <div class="form-str">
                        <label for="iban">Account number</label>
                        <input 
                            formControlName="bankAccountNumber" 
                            type="text" 
                            name="iban" 
                            id="iban" 
                            placeholder="Client Account Number"
                            />
                    </div>
                <input type="submit" value="Save" class="save-btn"/>
            </form>
        </div>
    </div>
</header>
