// =====================================================
//  Styles for global bullet design system.
// =====================================================

.menu-link .menu-bullet {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
}

.menu-link .bullet-dot {
  width: 4px;
  height: 4px;
  border-radius: 100% !important;
}

.menu-link .bullet {
  display: inline-block;
  transition: background-color 0.2s ease;
  background-color: #494b74;
  border-radius: 6px;
  width: 4px;
  height: 4px;
  flex-shrink: 0;
}

.menu-link .menu-title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 0.5rem;
}
