<app-header [addCustomerModal]="addCustomerModal"></app-header>

<app-customers [updateCustomer]="updateSingleCustomer" [customers]="customers"></app-customers>

<div class="customer-modal" *ngIf="toggleCustomerModal">
  <div class="container">
    <span class="close-modal" (click)="addCustomerModal()">&times;</span>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <div class="input-container">
        <label for="firstname">Firstname:</label>
        <input
          type="text"
          placeholder="Oliver..."
          formControlName="firstname"
        />
        <div class="error-list" *ngIf="fc['firstname'].errors && isSubmitted">
          <div *ngIf="fc['firstname'].errors['required']">
            Should not be empty
          </div>
        </div>
      </div>

      <div class="input-container">
        <label for="lastaname">Lastaname:</label>
        <input type="text" placeholder="Smith..." formControlName="lastname" />
        <div class="error-list" *ngIf="fc['lastname'].errors && isSubmitted">
          <div *ngIf="fc['lastname'].errors['required']">Should not be empty</div>
        </div>
      </div>

      <div class="input-container">
        <label for="dateOfBirth">Date Of Birth:</label>
        <input
          type="text"
          placeholder="mm/dd/yyyy"
          formControlName="dateOfBirth"
        />
        <div class="error-list" *ngIf="fc['dateOfBirth'].errors && isSubmitted">
          <div *ngIf="fc['dateOfBirth'].errors['required']">
            Should not be empty
          </div>
          <div *ngIf="fc['dateOfBirth'].errors['pattern']">
            Date of Birth is not correct
          </div>
        </div>
      </div>

      <div class="input-container">
        <label for="phonenumber">Phonenumber:</label>
        <input
          type="text"
          placeholder="+31636363634..."
          formControlName="phoneNumber"
        />
        <div class="error-list" *ngIf="fc['phoneNumber'].errors && isSubmitted">
          <div *ngIf="fc['phoneNumber'].errors['required']">
            Should not be empty
          </div>
          <div *ngIf="fc['phoneNumber'].errors['pattern']">
            Phone number is not correct
          </div>
        </div>
      </div>

      <div class="input-container">
        <label for="email">Email</label>
        <input type="text" placeholder="example@gmail.com" formControlName="email" />
        <div class="error-list" *ngIf="fc['email'].errors && isSubmitted">
          <div *ngIf="fc['email'].errors['required']">Should not be empty</div>
          <div *ngIf="fc['email'].errors['email']">Email is not correct</div>
        </div>
      </div>

      <div class="input-container">
        <label for="bankAccuntNumber">Bank Account Number:</label>
        <input
          type="text"
          placeholder="0112345678"
          formControlName="bankAccountNumber"
        />
        <div
          class="error-list"
          *ngIf="fc['bankAccountNumber'].errors && isSubmitted"
        >
          <div *ngIf="fc['bankAccountNumber'].errors['required']">
            Should not be empty
          </div>
        </div>
      </div>

      <div class="input-container">
        <button>Register</button>
      </div>
    </form>
  </div>
</div>
