<div class="container">
    <h2>
        <strong>
      Rayan pishro ( Ashkan Abdolahi )
     </strong>
    </h2>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="myForm" class="needs-validation" (ngSubmit)="onSubmit(myForm)" novalidate>
        <div class="row">
            <div class="mb-3">

                <div class="form-group">
                    <label for="Firstname" class="form-label">
          <b>
            First name
          </b>
          </label>
                    <input formControlName="Firstname" type="text" class="form-control" id="Firstname" placeholder="your name" required>

                </div>


            </div>
            <div class="mb-3">
                <label for="Lastname" class="form-label">
                  <b>
                    Last name
                  </b>
                  </label>
                <input formControlName="Lastname" type="text" class="form-control" id="Lastname" placeholder="your last name">
            </div>

            <div class="mb-3">
                <mat-form-field appearance="fill">
                    <mat-label>Choose birth date</mat-label>
                    <input formControlName="birthdate" matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="PhoneNumber" class="form-label">
                  <b>
                    Phone number
                  </b>
                  </label>
                <input formControlName="PhoneNumber" type="tel" class="form-control" id="PhoneNumber" placeholder="your PhoneNumber" [ngClass]="{ 'is-invalid': PhoneNumber?.touched && PhoneNumber?.errors, 'is-valid': PhoneNumber?.valid }">
                <div class="invalid-feedback" *ngIf="(
                  PhoneNumber?.dirty ||
                  PhoneNumber?.touched
                           ) &&
                           PhoneNumber?.invalid">
                    phone number is not valid. Valid number for Test :<b> +989123340577</b>
                    <div *ngIf="PhoneNumber?.errors?.['maxlength']">
                        Name must be max 13 characters long.

                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="Email" class="form-label">
                  <b>
                    Email
                  </b>
                  </label>
                <input formControlName="Email" type="email" class="form-control" id="Email" placeholder="name@Example.com" [ngClass]="{ 'is-invalid': Email?.touched && Email?.errors, 'is-valid': Email?.valid }">
                <div class="invalid-feedback" *ngIf="(
                  Email?.dirty ||
                  Email?.touched
                           ) &&
                           Email?.invalid">
                    Email is not valid. please enter a valid email address

                </div>
            </div>
            <div class="mb-3">
                <label for="BankAccountNumber" class="form-label">
                  <b>
                    Bank account number
                  </b>
                  </label>
                <input formControlName="BankAccountNumber" type="text" class="form-control" id="BankAccountNumber" placeholder="account number" [ngClass]="{ 'is-invalid': BankAccountNumber?.touched && BankAccountNumber?.errors, 'is-valid': BankAccountNumber?.valid }">
                <div class="invalid-feedback" *ngIf="(
                  BankAccountNumber?.dirty ||
                  BankAccountNumber?.touched
                           ) &&
                           BankAccountNumber?.invalid">

                    <div *ngIf="BankAccountNumber?.errors?.['maxlength']">
                        Bank Account Number must be max 10 characters long.
                    </div>

                    <div *ngIf="BankAccountNumber?.errors?.['minlength']">
                        Bank Account Number must be at least 9 characters long.
                    </div>
                </div>
            </div>

        </div>
        <button type="submit" [disabled]="!relatedForm.valid" class="btn btn-primary">Submit</button> &nbsp;&nbsp;&nbsp;
        <button type="reset" class="btn btn-secondary">Reset</button>
    </form>
    <br>
    <mat-divider></mat-divider>
    <br>

    <button class="btn btn-warning" (click)="clearLocaldata()"> Clear grid</button>
    <br>

    <br>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Firstname Column -->
        <ng-container matColumnDef="Firstname">
            <th mat-header-cell *matHeaderCellDef> Firstname </th>
            <td mat-cell *matCellDef="let element"> {{element.Firstname}} </td>
        </ng-container>

        <!-- Lastname Column -->
        <ng-container matColumnDef="Lastname">
            <th mat-header-cell *matHeaderCellDef> Lastname </th>
            <td mat-cell *matCellDef="let element"> {{element.Lastname}} </td>
        </ng-container>

        <!-- DateOfBirth Column -->
        <ng-container matColumnDef="DateOfBirth">
            <th mat-header-cell *matHeaderCellDef> DateOfBirth </th>
            <td mat-cell *matCellDef="let element"> {{element.DateOfBirth}} </td>
        </ng-container>

        <!-- PhoneNumber Column -->
        <ng-container matColumnDef="PhoneNumber">
            <th mat-header-cell *matHeaderCellDef> PhoneNumber </th>
            <td mat-cell *matCellDef="let element"> {{element.PhoneNumber}} </td>
        </ng-container>


        <!-- Email Column -->
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container>


        <!-- BankAccountNumber Column -->
        <ng-container matColumnDef="BankAccountNumber">
            <th mat-header-cell *matHeaderCellDef> BankAccountNumber </th>
            <td mat-cell *matCellDef="let element"> {{element.BankAccountNumber}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>





</div>