
.container{
  width: 500px;
  height: auto;
  padding: 25px;
  background-color: #fff;
  position: relative;
}

.container .input-container:not(:last-child){
    width: 450px;
    border: 1px solid #ccc;
    margin: 15px 5px;
    border-radius: 10px;
    padding: 10px;
}

.input-container{
  position: relative;
}

.input-container label{
    display: block;
    color: #e72729;
    margin-bottom: 15px;
}

.input-container input{
    border: none;
    width: 100%;
}

.input-container input::placeholder{
    color: #ccc;
}

.input-container input:focus{
    outline: none;
    border-bottom: 2px solid #555;
}

button{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 18px;
    background-color: #e72729;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    opacity: 0.8;
}

button:hover{
    opacity: 1;
    transition: 0.3s;
}

.customers{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 25px;
}

.card{
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  height: 137px;
  width: 300px;
}

.card-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-customer{
  width: 150px;
  height: 150px;
}

.image-customer img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.details{
  text-align: left;
}

.info h3{
  font-size: 1.3rem;
  font-weight: bold;
}

.info p{
  color: #888;
}

.footer{
  display: block;
}

.customer-modal{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  top: 0;
  left: 0;
  display: flex;
    align-items: center;
    justify-content: center;
}

.close-modal{
  font-size: 2rem;
  text-align: right;
  display: block;
  font-weight: bold;
  cursor: pointer;
}

.error-list{
  position: absolute;
  right: 15px;
  top: 10px;
  color: #e72729;
}

.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  border-radius: 10px;
  display: none;
  transition: all 0.3s;
}

.overlay .details{
  color: #fff;
}

.overlay .details p {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.overlay .actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  margin: 10px 15px;
}

.update{
  background-color: green;
}

.card:hover .overlay{
  display: block;
  transition: 0.3s;
}








