<!-- <label>Type your phone number<input [(ngModel)]="internationalNumber" (ngModelChange)="handleNumberChange()"/></label>
<ul>
  <li>International number: {{internationalNumber}}</li>
  <li>National number: {{dialCountry?.getNationalNumber()}}</li>
  <li>Country code: {{dialCountry?.getCountryCode()}}</li>
</ul>

<button (click)="test()">test</button>

<button pButton type="button" label="Click" ></button>
<button pButton type="button" label="Danger" class="p-button-danger"></button> -->


<app-customer-list></app-customer-list>