<div class="component-container">
    <h5>Description:</h5>
    <div class="container">
        <ul>
            <li>
                Email is unique in the local storage (you can not duplicate email).
            </li>
            <li>
                Customers are unique by Firstname, Lastname and DateOfBirth (you cannot duplicate a customer with a same Firstname and Lastname and DateOfBirth).
            </li>
            <li>
                All day long i was wondering about is it possible to use id or not so i decided to write it in two version with id and without id (this version has id in customer object) if you want the other version so tell me to create an other pull request.
            </li>
        </ul>
    </div>
    <div>
        <h5>Contact:</h5>
        <div class="contact">
            <p>
                github: <a target="_blank" href="https://github.com/shayan-ghzl">https://github.com/shayan-ghzl</a>
            </p>
            <p>
                portfolio: <a target="_blank" href="https://shayan-ghzl.github.io/">https://shayan-ghzl.github.io/</a>
            </p>
            Thank you.
        </div>
    </div>
</div>