/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

input[type="date"] {
  display: block;
  padding: 3px 5px;
  width: 350px;
}
